<div class="card border-dark mb-3">
    <div class="card-header">Inscription</div>
    <div class="card-body text-dark">
        {{#each messages}}
        <div class="alert alert-danger" role="alert">
           <p>{{this}}</p>
        </div>
        {{/each}}
        <form action="signup" method="post">
            <div class="mb-3">
                <label for="NomPrenom" class="form-label">Nom & Prénom</label>
                <input type="text" class="form-control" id="NomPrenom" name="name" required>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="Email" name="email" placeholder="nom@exemple.com" required>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Mot de passe</label>
                <input type="password" autocomplete="off" class="form-control" id="Password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="ConfirmPassword" class="form-label">Confirmer votre mot de passe</label>
                <input type="password" autocomplete="off" class="form-control" id="ConfirmPassword"
                    name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary float-right">Valider</button>
        </form>
    </div>